/* start global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root{
    --main-col: #0088b6;
    --sec-col: #48cae4;
    --dark: #333;
    --box-shad: 0 0.5rem 1rem rgb(0, 0, 0, 0.2);
}
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.2s linear;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}
html::-webkit-scrollbar{
    width: 0.8rem;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--main-col);
    border-radius: 0.5rem;
}
html::-webkit-scrollbar-track{
    background-color: transparent;
}
section, footer{
    padding: 5rem 8%;
}
.head{
    color: var(--main-col);
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.but{
    display: inline-block;
    color: white;
    font-size: 1.8rem;
    background-color: var(--main-col);
    padding: 1rem 3rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.but:hover{
    background-color: var(--sec-col);
}
/* end global */
/* start header */
header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    padding: 2rem 10%;
    background-color: white;
    box-shadow: var(--box-shad);
}
header .logo{
    color: var(--dark);
    font-size: 2.5rem;
    font-weight: bolder;
}
header .logo i{
    color: var(--main-col);
    padding-right: 0.5rem;
}
header nav a{
    color: var(--dark);
    font-size: 1.8rem;
    margin: 0 1rem;
}
header nav a:hover{
    color: var(--main-col);
}
header nav .but{
    margin-top: 0;
}
header nav .but:hover{
    color: white;
}
header #menu-but{
    display: none;
    color: var(--dark);
    font-size: 2.5rem;
    margin-left: 1.8rem;
    cursor: pointer;
}
header #menu-but:hover{
    color: var(--main-col);
}
/* end header */
/* start home */
#home{
    padding: 0;
}
#home .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    z-index: -1;
}
#home .swiper-slide .content{
    width: 80rem;
    text-align: center;
}
#home .swiper-slide .content h3{
    color: white;
    font-size: 4rem;
    line-height: 1.2;
    padding: 2rem 0;
    text-transform: uppercase;
}
#home .swiper-button-next, #home .swiper-button-prev{
    color: var(--dark);
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    background-color: white;
}
#home .swiper-button-next:hover, #home .swiper-button-prev:hover{
    color: white;
    background-color: var(--main-col);
}
#home .swiper-button-next::after, #home .swiper-button-prev::after{
    font-size: 2rem;
}
/* end home */
/* start availability */
.availability form{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background-color: #eee;
    padding: 2rem;
    border-radius: 0.5rem;
}
.availability form .box{
    flex: 1 1 20rem;
}
.availability form .box p{
    color: var(--main-col);
    font-size: 2rem;
}
.availability form .box .input{
    color: var(--dark);
    font-size: 1.8rem;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
}
/* end availability */
/* start about */
#about .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6rem;
}
#about .container .image{
    flex: 1 1 30rem;
}
#about .container .image img{
    width: 100%;
}
#about .container .content{
    flex: 1 1 50rem;
}
#about .container .content h3{
    color: var(--main-col);
    font-size: 3.5rem;
    padding: 2rem 0;
}
#about .container .content p{
    color: #666;
    font-size: 1.6rem;
    padding: 1rem 0;
    line-height: 1.8;
}
/* end about */
/* start room */
#room .swiper-slide{
    background-color: white;
    margin-bottom: 4rem;
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(0, 0, 0, 0.2);
    box-shadow: var(--box-shad);
}
#room .swiper-slide .image{
    position: relative;
    width: 100%;
    height: 25rem;
    padding: 1.5rem;
    overflow: hidden;
}
#room .swiper-slide .image .price{
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    color: white;
    font-size: 1.8rem;
    background-color: var(--main-col);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
#room .swiper-slide .image img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}
#room .swiper-slide .image a{
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    color: var(--dark);
    font-size: 2rem;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    background-color: white;
    border-radius: 50%;
}
#room .swiper-slide .image a:hover{
    color: white;
    background-color: var(--sec-col);
}
#room .swiper-slide .content{
    padding: 0 2rem 2rem;
}
#room .swiper-slide .content h3{
    color: var(--dark);
    font-size: 2.5rem;
}
#room .swiper-slide .content p{
    color: #666;
    font-size: 1.6rem;
    padding: 0.5rem 0;
    line-height: 1.5rem;
}
#room .swiper-slide .content .stars{
    padding: 1rem 0;
}
#room .swiper-slide .content .stars i{
    color: var(--main-col);
    font-size: 1.8rem;
}
/* end room */
/* start services */
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
}
.services .container .box{
    text-align: center;
}
.services .container .box img{
    height: 10rem;
    margin-bottom: 0.8rem;
}
.services .container .box h3{
    color: var(--dark);
    font-size: 1.6rem;
    padding: 0.5rem 0;
}
/* end services */
/* start gallery */
#gallery .swiper-slide{
    position: relative;
    height: 30rem;
    overflow: hidden;
}
#gallery .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#gallery .swiper-slide .icon{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 2;
}
#gallery .swiper-slide .icon i{
    color: white;
    font-size: 6rem;
}
#gallery .swiper-slide:hover .icon{
    display: flex;
}
/* end gallery */
/* start review */
#review{
    position: relative;
    width: 100%;
    height: 48rem;
    background: url(../images/review.jpg) no-repeat;
    background-position: center;
    margin: 4rem 0;
}
#review .review-slider{
    color: white;
    width: 50%;
    height: 145%;
    background-color: var(--sec-col);
    padding: 6% 2rem 2rem;
    margin-top: -8rem;
    margin-right: 60rem;
    box-shadow: var(--box-shad);
}
#review .swiper-slide{
    text-align: center;
}
#review .swiper-slide .head{
    color: white;
}
#review .swiper-slide i{
    color: var(--main-col);
    font-size: 6rem;
}
#review .swiper-slide p{
    font-size: 1.5rem;
    padding: 3rem 0 1.5rem;
    line-height: 1.8;
}
#review .swiper-slide .user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 0;
    border-radius: 0.5rem;
}
#review .swiper-slide .user img{
    width: 8rem;
    height: 8rem;
    border-radius: 15%;
    object-fit: cover;
}
#review .swiper-slide .user h3{
    color: var(--dark);
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
#review .swiper-slide .user i{
    font-size: 1.2rem;
}
/* end review */
/* start faq */
#faq .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}
#faq .container .image{
    flex: 1 1 40rem;
}
#faq .container .image img{
    width: 100%;
}
#faq .container .content{
    flex: 1 1 40rem;
}
#faq .container .content .box{
    margin-top: 2rem;
}
#faq .container .content .box h3{
    color: var(--main-col);
    font-size: 2rem;
    padding: 1.5rem;
    cursor: pointer;
}
#faq .container .content .box p{
    display: none;
    color: var(--sec-col);
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
    line-height: 2;
    box-shadow: var(--box-shad);
}
#faq .container .content .box.active p{
    display: inline-block;
}
/* end faq */
/* start book */
#book form{
    padding: 2rem;
    border: 0.2rem solid rgb(0, 0, 0, 0.2);
    border-radius: 1.5rem;
}
#book form .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
#book form .container .box{
    flex: 1 1 40rem;
}
#book form .container .box p{
    color: var(--main-col);
    font-size: 1.8rem;
}
#book form .container .box .input{
    color: var(--dark);
    font-size: 1.8rem;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: 0.2rem solid rgb(0, 0, 0, 0.2);
}
/* end book */
/* start footer */
footer{
    background-color: var(--sec-col);
}
footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}
footer .container .box h3{
    color: var(--main-col);
    font-size: 2.2rem;
    padding: 1rem 0;
}
footer .container .box a{
    display: block;
    color: white;
    font-size: 1.6rem;
    padding: 1rem 0;
}
footer .container .box a i{
    color: var(--main-col);
    padding-right: 0.5rem;
}
footer .container .box a:hover{
    color: var(--main-col);
}
footer .share{
    padding-top: 2rem;
    text-align: center;
}
footer .share a{
    color: var(--main-col);
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    margin: 0.4rem;
    border-radius: 50%;
    border: 0.2rem solid var(--main-col);
}
footer .share a:hover{
    color: white;
    background-color: var(--main-col);
    transform: rotate(360deg);
}
footer .rights{
    color: white;
    font-size: 2rem;
    padding-top: 2rem;
    margin-top: 2.5rem;
    text-align: center;
    border-top: 0.2rem solid rgb(0, 0, 0, 0.4);
}
footer .develop span{
    color: var(--main-col);
}
/* end footer */
/* start queries */
@media (max-width: 991px) {
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem 4rem;
    }
}
@media (max-width: 768px) {
    header #menu-but{
        display: inline-block;
    }
    header nav{
        position: absolute;
        top: 100%;
        right: -110%;
        width: 30rem;
        background-color: white;
        border-radius: 0.5rem;
        box-shadow: var(--box-shad);
    }
    header nav.active{
        right: 2rem;
        transition: 0.4s linear;
    }
    header nav a{
        display: block;
        font-size: 2rem;
        margin: 2rem 2.5rem;
    }
    #home .swiper-slide .content{
        width: 50rem;
    }
    #review .review-slider{
        width: 100%;
        padding: 15% 1rem 1rem;
    }
}
@media (max-width: 450px) {
    html{
        font-size: 50%;
    }
    #home .swiper-slide .content{
        width: 30rem;
    }
    #home .swiper-slide .content h3{
        font-size: 3rem;
    }
}
/* end queries */